<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cettorre.votingapp_hackathonm4social">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.organization.OrganizationHomeActivity"
            android:label="@string/title_activity_organization_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.user.UserHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.organization.eventcreation.NewEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.UserVotingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.organization.LoginOrganizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.LoginUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.EventResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.organization.OrgEventInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.NewUserActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.MyService"
            android:exported="false" />
        <service
            android:name=".services.MyService2"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyService3"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyService4"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyService5"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyService6"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".view.organization.eventcreation.SetChoicesActivity" />
        <activity android:name=".view.organization.eventcreation.AddParticipantsActivity" />

    </application>

</manifest>